<!DOCTYPE html>
<html lang="ja-JP">

<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href='{{ "css/list.css" | absURL }}'>
</head>

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    <main id="main" class="archive">
    <div>日本数学オリンピック（JMO）、日本ジュニア数学オリンピック（JJMO）、国際数学オリンピック（IMO）の問題をすべて集め解説を提供することを目標に運営されているサイトです。特に「歴史的史料」としての観点から作成しているので学習には不向きな点も多いかと思います。うまく利用していただけると幸いです。</div><br>
    <h1>更新履歴</h1>
    <div>2020/12/31: ホームページ公開.</div>
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "foot.html" . }}
</body>

</html>
